 
section {
    background-color: rgb(194, 130, 255);
    border: rgb(221, 177, 177) solid 1px;
    border-radius: 20px;
    font-family: 'Berkshire Swash', cursive
}
header {
    background-color: rgb(209, 22, 22);
}
h1 {
    position: relative;
    left: 650px;
    color: rgb(238, 221, 221);
}
/* footer {
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
} */